*
{
	padding:0;
	margin:0;
}
.tabla
{
	width:auto;
	height: auto;
	text-align:center;
	border-color:red;
	background:rgba(195,209,179,0.4);
	border-radius:20px;
	margin: 20% 20%;
}
.imagen
{
	background-repeat:no-repeat;
	background-size: auto;
 	height:30px;
  	width:30px;
  	background-position:center;	
	border-radius:60%;
	color:rgba(255, 255, 255, 0.1);
}
.imagen:hover
{
	border:1px inset;
	border-color:red;
}

