*{
	padding:0;
	margin:auto;
}
body
{
background-size: 100vw 100vh;
background-attachment: fixed;		
}   
header{
	width: auto;			
	margin: auto;
	height: 90px;
	background: rgba(235, 224, 135, 0.4);
	
	
}
header ul{
	 display: flex;
	 list-style: none;
	 background: rgba(235, 224, 135, 0.7);
}
header ul li a{
	display: block;
	padding: 20px 20px;
	color:#000000;
	text-decoration: none;
}
header ul ul{
	position: absolute;
	top:60px;
	display: block;
	
	transform: translateX(60%);
	opacity: 0;
	transition: all .6s;
}
header ul li:hover ul
{	
	opacity:1;
	transform: translateX(0%);
}
body table
{
	width: 100%;
}   tr:nth-of-type(2n) {
           background-color: inherit;
       }
       tr td:first-child {
         
           font-weight:normal;
           font-size:1em;
       }
	  
header ul li form .logout
{
	height:80px;
	width:80px;
	border:2px outset;
	border-color:rgba(255, 0, 0, 0.2);
	color:white;
	background: rgba(255, 0, 0, 0.3);
	border-radius:70px;
}
header ul li form .logout:hover
{
	cursor: pointer;
	border:1px inset;
	background: rgba(255, 0, 0, 0.5);
}