body{

	background: url(../../img/libros/Libros.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color:white;
}

table {
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius:7px;
	font-style: italic;
	color:white;
}
.td{
	background-color:#fbfbfb;
}
.tr:nth-child(odd) {

background-color:#f2f2f2;

}
.boton2
{
	margin-left:200px;
	padding:20px;
}

.boton2{
	font-size:18px; color:#FFF;
	color:#FFF;
	border:solid 1px #2d2d2d;  
	text-align:center; background:#575757; 
	padding:6px 3px 6px 3px;  
	-moz-border-radius: 2px;  
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	
	border:dashed 1px #000000;
	-moz-border-radius-topleft: 5px; 
	-moz-border-radius-topright:1px; 
	-moz-border-radius-bottomleft:1px; 
	-moz-border-radius-bottomright:5px; 
	-webkit-border-top-left-radius:5px; 
	-webkit-border-top-right-radius:1px; 
	-webkit-border-bottom-left-radius:1px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px; 
	border-top-right-radius:2px; 
	border-bottom-left-radius:1px;
	border-bottom-right-radius:5px;
}

.boton1{
	font-size:18px; color:#FFF;
	color:#FFF;
	border:solid 1px #2d2d2d;  
	text-align:center; background:#575757; 
	padding:6px 3px 6px 3px;  
	-moz-border-radius: 2px;  
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	
	border:dashed 1px #000000;
	-moz-border-radius-topleft: 5px; 
	-moz-border-radius-topright:1px; 
	-moz-border-radius-bottomleft:1px; 
	-moz-border-radius-bottomright:5px; 
	-webkit-border-top-left-radius:5px; 
	-webkit-border-top-right-radius:1px; 
	-webkit-border-bottom-left-radius:1px;
	-webkit-border-bottom-right-radius:5px;
	border-top-left-radius:5px; 
	border-top-right-radius:2px; 
	border-bottom-left-radius:1px;
	border-bottom-right-radius:5px;
}
.boton1:hover
{
	cursor: pointer;
	background: #fff;
	color: #000000;
	
}
.boton2
{
	background:rgba(0,0,0,0.4);
	color: #fff;
	
	
}
.boton2:hover
{
	cursor: pointer;
	background: #fff;
	color: #000000;
}