body{
	
	background-image: url(imagenes/registrar.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin:0;
	padding:0;
	font-style: italic;
}
form {
	width: 650px;
	height: 180%;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius:7px;
	font-style: italic;
}
table{
	width: 45%;
	color: #fff;
	text-align: center;
	font-size: 15px;
	position:absolute;
	margin: -105% 0%;
}
input{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 14px;
	font-style: italic;
}
.boton1{
	height: 20%;
	background:rgba(0,0,0,0.4);
	color: #fff;
	padding:10px;
	margin: 100% 0%;
	position: relative;
}
.boton2{
	height: 20%;
	background:rgba(0,0,0,0.4);
	color: #fff;
	margin: -98% 0%; 
	position: relative;
}
.boton3{
	background:rgba(0,0,0,0.4);
	color: #fff;
	padding:10px;
	position: relative;
}

.boton1:hover{
	cursor: pointer;
	background: #fff;
	color: #000000;
}
.boton2:hover{
	cursor: pointer;
	background: #fff;
	color: #000000;
}
.boton3:hover{
	cursor: pointer;
	background: #fff;
	color: #000000;
}
@media (max-width: 480px){
	form
	{

		width: 100%;
	}
.boton{
	background:rgba(0,0,0,0.4);
	color: #fff;
	padding:20px;
}

.boton:hover{
	cursor: pointer;
	background: #fff;
	color: #000000;
}
	}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}