form
{
	background-color:rgba(151, 173, 190, 0.7);
	width: 30%;
	height: auto;
	margin:0% 30%;
}
.campos
{
	width: 48%;
	margin: 2% 23%;
	text-align: center;
}
select
{
	margin-left:30%; 
	width: 35%;
}
.envio
{
	margin: 1% 23%;
	width: 50%;
	font-size:12px; 
	color:#FFF;
	border:solid 1px ; 
	text-align:center;
	background:#575757;
	padding:6px 3px 6px 3px;  
}