.contenedor{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	max-width: 1000px;
}
.contenedor .contend .iconU i{
	margin: 0 auto;
}
.contenedor .contend .iconU input[type=text]{
	width: 100%;
	border: 2px solid #000;
	border-radius: 4px;
	margin: 2% 0;
	outline: none;
	padding: 2%;
	box-sizing: border-box;
	transition: .9s;
	text-align: center;
	font-size: 90%;
}
.contenedor .contend .iconU input[type=text]:focus{
	border-color: rgba(255, 77, 0, 0.7);
	box-shadow: 0 0 8px 0 rgba(255, 77, 0, 0.7);
} 
.contenedor .contend .iconU input[type=text]{
	padding-left: 15%;
}
.contenedor .contend .iconU{
	position: relative;
}
.contenedor .contend .iconU i{
	position: relative;
	right: 	40%;
	top: -31px;
	font-size: 120%;
	box-sizing: border-box;
	color: #000;
	transition: .9s;
}
.contenedor .contend .iconU input[type=text]:focus + i{
	color: rgba(255, 77, 0, 0.7);
}
.contenedor .contend .iconK i{
	margin: 0 auto;
}
.contenedor .contend .iconK input[type=password]{
	width: 100%;
	border: 2px solid #000;
	border-radius: 4px;
	margin: 2% 0 auto;
	outline: none;
	padding: 2%;
	box-sizing: border-box;
	transition: .9s;
	text-align: center;
	font-size: 90%;
}
.contenedor .contend .iconK input[type=password]:focus{
	border-color: rgba(255, 77, 0, 0.7);
	box-shadow: 0 0 8px 0 rgba(255, 77, 0, 0.7);
} 
.contenedor .contend .iconK input[type=password]{
	padding-left: 15%;
}
.contenedor .contend .iconK{
	position: relative;
}
.contenedor .contend .iconK i{
	position: relative;
	right: 	40%;
	top: -25px;
	font-size: 120%;
	box-sizing: border-box;
	color: #000;
	transition: .9s;
}
.contenedor .contend .iconK input[type=password]:focus + i{
	color: rgba(255, 77, 0, 0.7);
}
.contenedor .contend .boton input[type=submit]{
	width: 50%;
	border: 2px solid #000;
	border-radius: 4px;
	margin: 8% 0 auto;
	outline: none;
	padding: 2%;
	box-sizing: border-box;
	transition: .9s;
	text-align: center;
	font-size: 90%;
	cursor: pointer;
}
.contenedor .contend .boton input[type=submit]:hover{
	border-color: rgba(255, 77, 0, 0.7);
	box-shadow: 0 0 8px 0 rgba(255, 77, 0, 0.7);
} 
@media screen and (max-width: 800px){

	.contenedor .contend{
		width: 100%;
	}
	.contenedor .iconU input[type=text] + i{
		width: 100%;
	}
	.contenedor .iconK input[type=password] + i{
		width: 100%;
	}

}
@media screen and (max-width: 400px){
	
	.contenedor .contend{
		width: 100%;
	}
	.contenedor .iconU input[type=text]{
		width: 100%;
	}
	.contenedor .iconK input[type=password] + i{
		width: 100%;
	}	
}
@media screen and (max-width: 200px){
	
	.contenedor .contend{
		width: 100%;
	}
	.contenedor .iconU input[type=text]{
		width: 100%;
	}
	.contenedor .iconK input[type=password] + i{
		width: 100%;
	}	
}