		
footer{
	width: 100%;
	height: 100px;
	background:rgba(255, 111, 31, 0.4);
	position: fixed;
	bottom: 0;
}
.
.btnI-footer{
	cursor: pointer;
	height: 40px;
}
.btnU-footer{
	cursor: pointer;
	height: 27px;

}
.btnT-footer{
	cursor: default;
	height: 27px;
}
.btnC-footer{
	cursor: default;
	height: 27px;
}
.btnF-footer{
	cursor: pointer;
	height: 31px;
}
.btnS-footer{
	cursor: pointer;
	height: 40px;	
}
.btnIn-footer{
	cursor: pointer;
	height: 40px;
}
.Tp-footer {
    position: relative;
    display: inline-block;
    border-bottom: none; 
}
.Tp-footer .Tptxt-footer {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.Tp-footer:hover .Tptxt-footer {
    visibility: visible;
}
.Tp-footer .Tptxt-footer {
    top: 5px;
    left: 40%; 
}
#posU-footer{
	position: relative;	 
	top: 13px;	
	right: -30px;
}
#posT-footer{
	position: relative;	 
	top: -5px;	
	right: -310px;
}
#posC-footer{
	position: relative;	 
	top: 10px;	
	right: -600px;
}
#posF-footer{
	position: relative;	 
	top: 13px;	
	right: -850px;
}
#posI-footer{
	position: relative;
	top: 13px;
	right: -1250px: 
}
.txtTx-footer{
	font-size: 7px;
}