*
		{
			margin: 0%;
			padding: 0%;
			top:0%;
		}
		body
		{
			background-image: url("../imagenes/libros-3.jpg");
			background-attachment: scroll;
			background-size: 100% 100%;
		}
		.todo
		{
			width: 50%;
			height: 100%;
			background:-webkit-gradient(radial, 331 69, 0, 63 -366, 522, from(#FFFFFF), to(#000028));
			margin: 10% 20%;
		}
		.form
		{
			width:50%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			margin: auto 26%;
		}
		#id_dev
		{
			margin: 10% 20%;
			width:50%;
			height:20%;
			border-radius:5%;	
		}
		::placeholder
		{
			text-align: center;
		}
		.dev
		{
			margin: 15% 20%;
			width: 50%;
			height: 100%;
		}
		.envio
		{
			margin: 20% 20%;
			width: 50%;
			height: 49%;
		}
	